body{
  font-family: 'Nunito';
  margin: 14vh 0 0 0;
  background: #eef3f5;
  overflow-y: scroll;
}

header {
  background: #313b44;
  position: fixed;
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 10;
}

header h1 {
    margin: 0;
    color: #d7e2ea;
}

h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

.wrap {
  width:88vw;
  margin: 0 auto;
}

#mario-chat{
    width: 88vw;
    margin: 0 auto 30px auto;
    background: #eef3f5;
    text-align: center;
}

#chat-window{
  width: 88vw;
  overflow: auto;
  background: #eef3f5;
  margin-bottom: 11em;
  z-index: 1;
}

.chatMsg {
    display: flex;
    align-items: center;
    padding: 0 .6em;
    /* width: 100%; */
}

.chatMsg:nth-of-type(even) {
    margin-left: 2em;
}

.chatMsg p {
    padding: 1.2em;
    margin: 10px 0;
    color: #555;
    position: relative;
    background: #f3fcff;
    box-shadow: 0px 2px 3px 3px #e7ebed;
    width: 100%;
    text-align: left;
    border-radius: .5em;
}

.chatMsg p:before {
    width: 25px;
    content: " ";
    background: url(dialogTriangle.png) no-repeat;
    position: absolute;
    left: -18px;
    top: 0;
    height: 45px;
}

img#emojiBtn {
    position: absolute;
    bottom: 8.2vh;
    right: .5em;
    cursor: pointer;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
    min-width: 4em;
    text-align: left
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
    border-radius: .5em;
}

input#handle, input#message {
    margin-bottom: .5em;
}

button{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 47%;
    border-radius: 6px;
    cursor: pointer;
}

.formBtns {
    display:flex;
    justify-content: space-between;
}

div.controls {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 88vw;
    background: #eef3f5;
    /* left: 10vw; */
    /* right: auto; */
    margin-bottom: 1.4em;
}

#appMsg {
    position: absolute;
    background: #fff;
    top: auto;
    bottom: 25%;
    left: 25%;
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 0;
}

#emojiSelect {
    width: 35vw;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: space-between;
    bottom: 17vh;
    right: 5vw;
    background: #fff;
    padding: .5em;
    height: 42vh;
    border-radius: .5em;
    font-size: 1.5em;
    box-shadow: 0px 2px 2px #ddd;
    z-index: 100;
    opacity: 0;
    transition: opacity 1s;
    visibility: hidden;
}

#emojiSelect.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s;
}

#emojiSelect span {
    display: inline-block;
    /* margin: 2px; */
    text-decoration: none;
}

#emojiSelect span:hover {
    font-size: 1.2em;
    margin: 0;
    cursor: pointer;
}

@media (min-width: 50em) and (orientation: landscape) {
  #chat-window {
      /* height: 50vh; */
      width: 100%;
  }
  div.controls {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 88vw;
    /* left: 10vw; */
    /* right: auto; */
    margin-bottom: 1.4em;
  }
}
